.gradle
build/
*.txt
# Track README.md / CHANGELOG.md — ignore only local notes if needed, e.g. /notes/*.md
loader/classes.h
loader/xenobyte-1.0.0.jar
loader/eloader/.vs/
loader/eloader/output/
loader/eloader/temp/
loader/eloader/eloader/classes.h
mainclass.txt